.search {
    padding-left: 50px;
}

.search-form--input {
    background-color: #012738;
    color: #fff;
    border: none;
    border-radius: 2rem;
    height: 3.7rem;
    width: 380px;
    font-size: 1.4rem;
    font-weight: 400;
    outline-style: none;
    padding-left: 20px;
}

.search-form--input::placeholder {
    color: white;
    font-weight: 400;
    background-color: transparent;
}

.search-form--input:focus {
    color: white;
}

.search-form--button {
    height: 30px;
    width: 35px;
    position: relative;
    left: -45px;
    background: none;
    border: none;
    border-radius: 50%;
    top: -1px;
}

.search-form--button i {
    font-size: 1.4rem;
    color: #fff;
}